<div class="menu-container">
    <div class="logo-menu">
        <img src="../../../assets/home/menu_logo.png" alt="" srcset="">
        <p>GABIMARU</p>
    </div>
    <div class="option-menu">
        <ul class="menu-btns">
            <li class="menu-home-btn"><a href="">Home</a></li>
            <li class="menu-btn"><a href="https://github.com/Gabriel-Axl" target="_blank">GitHub</a></li>
            <li class="menu-btn"><a href="https://www.linkedin.com/in/alex-gabriel-007b89182/" target="_blank">Linkedin</a></li>
            <li class="menu-btn"><a href="https://twitter.com/AxleGab" target="_blank">Twitter</a></li>
        </ul>
    </div>
</div>