<div class="sidebar-container">
    <div class="sidebar-title">
        <h2>Posts exclusivos</h2>
    </div>
    <div class="card-container">
        <app-micro-card class="c1"></app-micro-card>
        <app-micro-card class="c2"></app-micro-card>
        <app-micro-card class="c3"></app-micro-card>
        <app-micro-card class="c4"></app-micro-card>
    </div>
    <div class="most-card">
        <app-aux-card 
        [imgLargura]="'170px'"[imgAltura]="'100px'"
        [titleSize]="'1rem'"
        [cardSize]="'25rem'"
        [backColor]="'black'"
        img="https://tm.ibxk.com.br/2023/09/21/21181426330357.jpg" title="Microsoft anuncia novos recursos de IA para o Bing e o Edge; veja"></app-aux-card>
        <app-aux-card 
        [imgLargura]="'170px'"[imgAltura]="'100px'"
        [titleSize]="'1rem'"
        [cardSize]="'25rem'"
        [backColor]="'black'"
        img="https://tm.ibxk.com.br/2023/09/21/21181426330357.jpg" title="Microsoft anuncia novos recursos de IA para o Bing e o Edge; veja"></app-aux-card>
        <app-aux-card 
        [imgLargura]="'170px'"[imgAltura]="'100px'"
        [titleSize]="'1rem'"
        [cardSize]="'25rem'"
        [backColor]="'black'"
        img="https://tm.ibxk.com.br/2023/09/21/21181426330357.jpg" title="Microsoft anuncia novos recursos de IA para o Bing e o Edge; veja"></app-aux-card>
        
    
    </div>
</div>