    <a href="">
        <div class="main-card-container">
            <div class="img-card">
                <img src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt1fb651358bfe01fe/60c10342d475801b9d54fe31/TORNEIOS_DE_COMUNIDADE_VAL_CARD.jpg"
                height="350px" 
                alt="" 
                srcset=""
                >
            </div>
        <div class="title-card">
            <h2>Notas da atualização 7.06 do valorant</h2>
        </div>
        <div class="content-card">
            <p> partidas semanais terão todos os mapas competitivos disponíveis durante sete semanas. Cada semana terá um mapa específico e no máximo duas partidas nesse mapa.
                Agora, o desempenho será acompanhado a cada Etapa. Os participantes receberão um Brasão de Divisão ao final de cada Etapa.  
                   
            </p>
        </div>
    </div>
</a>