<a [routerLink]="[url1, id]">
    <div class="aux-card-container"
    [ngStyle]="{'width':cardSize}"
    >
        <div class="img-aux-card">
            <img src="{{img}}" 
            [ngStyle]="getImgStyle()"
            alt="" 
            srcset=""
            >
        </div>
        <div class="title-aux-card" [ngStyle]="{'background-color':backColor}"
        >
            <h1 [ngStyle]="{'font-size':titleSize, 'background-color':backColor}">{{title}} </h1>
        </div>
    </div>
</a>
