<app-menu></app-menu>
<app-menu-title></app-menu-title>
<div id="article-container">
    <div id="main-article">
        <app-main-card title="Nova atualização valorant" img="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt1fb651358bfe01fe/60c10342d475801b9d54fe31/TORNEIOS_DE_COMUNIDADE_VAL_CARD.jpg" content="a nova atualização que chegou no patch 7.04 é incrivel, houve diversas mudanças, venha conferir"></app-main-card>
    </div>
    <div id="other-article">
        <app-aux-card img="https://s2-g1.glbimg.com/KJmfhc3dzVmjSFHjeSTSpm_W9sQ=/0x0:1920x1080/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/d/A/jze8TURRKhTKz9LfLvRA/valorant1.jpg" title="veja os melhores clutchs de jett do mês"></app-aux-card>
        <app-aux-card img="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiDVNc9J-wvYyW39FpzedgNTshJgPVwV-64NIUVYTmqMdTdDNREtsbkkQP16EmLPnidm8&usqp=CAU" title="entenda a baixa taxa de pick do chamber no cenario competitivo"></app-aux-card>
        <app-aux-card img="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWMTJCvJmoiAenfdbvykRt3V6e666LXQ5xxQ&usqp=CAU" title="mudanças no mapa breeze, você gostou?"></app-aux-card>
    </div>
</div>